$body-font-color: #c1c1c1;
$link-font-color: #00cccc;
$heading-font-color: #d66388;
$code-font-color: cornflowerblue;
$special-font-color: #c2f486;
$main-font-family: 'Open Sans', sans-serif;
$min-device-width: 940px;

@font-face {
	font-display: swap;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/open-sans-v35-latin-regular.woff2') format('woff2');
}


content a {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
	color: $link-font-color;

	&:hover {
		text-decoration: underline;
	}
}

body {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	font-family: $main-font-family;
	font-size: 1.4em;
	line-height: 1.4;
	margin: 1em auto;
	max-width: 45em;
	background: #303030;
	color: $body-font-color;
}

content h1 {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 1.5em;
	vertical-align: baseline;
	line-height: 100%;
	margin-top: 2rem;
	margin-bottom: 1rem;
	color: $heading-font-color;
	/*

	&:before {
		content: "# ";
		content: "# " / "";
	}

	&:after {
		content: "-----";
		content: "-----" / "";
		display: block;
	}
	*/
}

content h2 {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	line-height: 100%;
	margin-top: 2rem;
	margin-bottom: 1rem;
	color: $heading-font-color;

	&:before {
		content: "## ";
		content: "## " / "";
	}
}

content h3 {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	line-height: 100%;
	margin-top: 2rem;
	margin-bottom: 1rem;
	color: $heading-font-color;

	&:before {
		content: "### ";
		content: "### " / "";
	}
}

html {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

content {
	li {
		margin: 0;
		padding: 0;
		border: 0;
		padding-left: 10px;
		font: inherit;
		vertical-align: baseline;
	}
}

content p {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	margin-bottom: .75rem;

	>code {
		font: unset;
		font-family: $main-font-family;
		color: $code-font-color;
	}
}

content span {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

content strong {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	font-weight: 700;
	color: $heading-font-color;

	&:before {
		content: "*";
		content: "*" / "";
	}

	&:after {
		content: "*";
		content: "*" / "";
	}
}

content u {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

content ul {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	list-style-type: none;
	margin-left: 1rem;

	>li {
		&:before {
			content: "-";
			position: absolute;
			margin-left: -1.1rem;
		}
	}
}

content code {
	font: unset;
	font-family: $main-font-family;
	color: $code-font-color;
}

content .special {
	color: $special-font-color;
	font-style: normal;
}

a.disabled {
	pointer-events: none;
	text-decoration: none;
	color: #d66388;
	padding-left: 15px;

	:hover {
		text-decoration: none;
	}
}

@media (max-width: $min-device-width) {
	body {
		padding: 0 15px;
		line-break: normal;
	}

	content a {
		line-break: loose;
	}

	content code {
		line-break: anywhere;
	}

	nav {
		.hero-text {
			text-align: center !important;
			font-weight: bold;
		}

		.float-right,
		.float-left {
			float: none !important;
			margin: 0;

			a {
				text-align: center;
				margin: 0;
			}
		}

		a {
			float: none;
			display: block;
			text-align: left;

			.nav-right {
				float: none;
			}
		}
	}
}

nav {
	font-size: 1.2em;
	overflow: hidden;
	border-bottom: 1px solid $body-font-color;
	margin-bottom: 30px;
	padding: 0 10px 10px;

	div {
		margin-left: 15px;
	}

	a {
		padding: 0;
		border: 0;
		font: inherit;
	}

	.nav-link {
		padding-left: 15px;
		text-decoration: none;
		color: $link-font-color;

		&:hover {
			text-decoration: underline;
		}
	}

	.float-right {
		float: right;
	}

	.float-left {
		float: left;
	}

	.hero-text {
		font-size: 1.5em;
		margin: 0;
		padding: 0;
		font: inherit;
		text-decoration: none;

		a {
			color: $special-font-color;
			font-weight: 800;
			padding-left: 0;
		}
	}
}