<!doctype html>
{{ $language := or .Params.Language "en" }}
<html lang="{{ $language }}">
  <head>
    {{ partial "head/meta.html" . }}
    <title>{{ or .Title .Site.Title }}</title>
    {{ partial "head/favicon.html" . }}
    {{ partial "head/styling.html" . }}
    {{ partial "head/scripts.html" . }}
  </head>
  <body>
    {{ partial "body/nav.html" . }}

    {{ block "page" . }}{{ end }}

    <script async src="https://esseles.adora.codes/script.js" data-website-id="a163d1bf-b3af-472d-bded-be9347b32628"></script>
  </body>
</html>
